.btnLoadMore {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  color: var(--btn-color);
  transform-origin: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnLoadMore:hover,
.btnLoadMore:focus {
  color: var(--btn-color-hover);
}
