@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --text-info-color: rgba(18, 20, 23, 0.5);
  --text-color: #fff;
  --text-primary-color: #121417;
  --btn-color: #3470ff;
  --btn-color-hover: #0b44cd;
  --background-backdrop: rgba(18, 20, 23, 0.5);
  --back-modal-img: #f3f3f2;
}
